{
  "openapi": "3.1.0",
  "info": {
    "title": "API pública del portafolio de Andrés López",
    "version": "2.0.2",
    "description": "Interfaces públicas de solo lectura del portafolio. Incluye instantáneas estáticas y servidores MCP y A2A stateless ejecutados por el servidor Node del contenedor de producción. No requieren autenticación."
  },
  "servers": [{ "url": "https://andreslopez.co" }],
  "paths": {
    "/api/version": {
      "get": {
        "summary": "Obtiene la instantánea de versión generada durante el build",
        "operationId": "getPortfolioVersion",
        "responses": {
          "200": {
            "description": "Instantánea de versión, o un objeto de error generado durante el build si GitHub no estaba disponible",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Version" },
                    { "$ref": "#/components/schemas/Error" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/youtube": {
      "get": {
        "summary": "Obtiene la instantánea de videos generada durante el build",
        "operationId": "getRecentYoutubeVideos",
        "responses": {
          "200": {
            "description": "Instantánea estática de la respuesta de búsqueda de YouTube, o un objeto de error generado durante el build si no había datos disponibles",
            "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } }
          }
        }
      }
    },
    "/api/mcp": {
      "post": {
        "summary": "Invoca el servidor MCP Streamable HTTP stateless",
        "description": "Acepta JSON-RPC 2.0 de MCP 2025-06-18. Implementa initialize, ping, tools/list y tools/call.",
        "operationId": "callPortfolioMcp",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JsonRpcRequest" } } }
        },
        "responses": {
          "200": { "description": "Respuesta JSON-RPC", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
          "202": { "description": "Notificación MCP aceptada sin cuerpo" },
          "400": { "description": "JSON, petición o versión de protocolo no válidos" }
        }
      }
    },
    "/api/a2a": {
      "post": {
        "summary": "Envía una consulta al agente A2A del portafolio",
        "description": "Implementa SendMessage sobre el binding JSON-RPC de A2A 1.0 y devuelve un Message de solo lectura.",
        "operationId": "sendPortfolioA2aMessage",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JsonRpcRequest" } } }
        },
        "responses": {
          "200": { "description": "Respuesta o error JSON-RPC A2A", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true } } } },
          "400": { "description": "JSON, petición o versión de protocolo no válidos" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Version": {
        "type": "object",
        "required": ["version", "lastUpdate"],
        "properties": {
          "version": { "type": "string" },
          "lastUpdate": { "type": "string", "format": "date-time" }
        }
      },
      "JsonRpcRequest": {
        "type": "object",
        "required": ["jsonrpc", "method"],
        "properties": {
          "jsonrpc": { "const": "2.0" },
          "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }, { "type": "null" }] },
          "method": { "type": "string" },
          "params": { "type": "object", "additionalProperties": true }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string" }
        },
        "additionalProperties": true
      }
    }
  }
}
